{% extends 'AnimadouAppBundle::layout.html.twig' %}

{% block title %}
{{ album.name }} ({{ album.photos.count }})
{% endblock title %}

{% block content %}
    <div id="slider" class="img-polaroid">
        <div class="slider-wrap">
        <ul class="slider">
            {% for photo in album.photos %}
                <li><div><img onload="nl(this);" class="hide" src="{{ photo.pathname }}" alt="0"></div></li>
            {% endfor %}
        </ul>
        </div>
        <div class="carousel-wrap">
        <a class="control control-next" href="#"><i class="icon-white icon-chevron-down"></i></a>
        <a class="control control-prev" data-direction="next" href="#"><i class="icon-white icon-chevron-up"></i></a>
        <ul class="carousel">
            {% for photo in album.photos %}
                <li><img onload="nl(this);" src="{{ photo.pathname('t') }}" alt="0"></li>
            {% endfor %}
        </ul>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock content %}

{% block js %}
{{ parent() }}
<script src="{{ asset('bundles/animadouapp/vendor/msi-slider/js/msi-slider.js') }}"></script>
<script>
$('div#slider').msiSlider({
    axis: 'y',
    pauseTime: 3000,
    carouselLiDimension: 118,
    sliderSpeed: 1,
});
</script>
{% endblock js %}
