{% extends 'MsiAdminBundle::base_layout.html.twig' %}

{% block brand %}ANIMADOO{% endblock brand %}

{% block nav %}
{% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Users'|trans }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                <li><a href="{{ path('msi_user_user_admin_index') }}">{{ 'entity.User'|transchoice(2) }}</a></li>
            {% endif %}
            {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                <li><a href="{{ path('msi_user_group_admin_index') }}">{{ 'entity.Group'|transchoice(2) }}</a></li>
            {% endif %}
        </ul>
    </li>
{% endif %}
{% if is_granted(['ROLE_MSI_MENU_MENU_ROOT_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
    <li><a href="{{ path('msi_menu_menu_root_admin_index') }}">{{ 'entity.Menu'|transchoice(2) }}</a></li>
{% endif %}
{% if is_granted(['ROLE_MSI_PAGE_PAGE_ADMIN_READ', 'ROLE_MSI_PAGE_PAGE_BLOCK_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Content'|trans }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% if is_granted(['ROLE_MSI_PAGE_PAGE_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                <li><a href="{{ path('msi_page_page_admin_index') }}">{{ 'entity.Page'|transchoice(2) }}</a></li>
            {% endif %}
            {% if is_granted(['ROLE_MSI_PAGE_PAGE_BLOCK_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                <li><a href="{{ path('msi_page_page_block_admin_index') }}">{{ 'entity.PageBlock'|transchoice(2) }}</a></li>
            {% endif %}
        </ul>
    </li>
{% endif %}
{#<li><a href="{{ path('msi_slider_slider_admin_index') }}">{{ 'entity.Slider'|transchoice(2) }}</a></li>#}
{% endblock %}
