{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/anicore/css/style.css') }}">
{{ parent() }}
<script>
function nl(t){t.className=t.className.replace(new RegExp(/\shide|hide\s|hide/),'');}
</script>
{% endblock css %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/anicore/vendor/msi-slider/js/msi-slider.js') }}"></script>
<script src="{{ asset('bundles/anicore/vendor/superfish-1.4.8/js/hoverIntent.js') }}"></script>
<script src="{{ asset('bundles/anicore/vendor/superfish-1.4.8/js/superfish.js') }}"></script>
{{ parent() }}
<script>
jQuery(function(){
    jQuery('ul.sf-menu').superfish({
        speed: 'fast',
        delay: 0,
        autoArrows: false,
        disableHI: true,
        animation: {opacity: 'show', height: 'show'},
    });
});
</script>
<script>
(function($) {
    "use strict";
    $('#slider').msiSlider({
        axis: 'y',
        pauseTime: 3800,
        carouselSpeed: 400,
        sliderSpeed: 800,
        carouselLiDimension: 50,
        cycle: true,
        slider: true,
        sliderEffect: 'fade',
        sliderArgs: {mode: 'show', easing: 'easeInCirc'},
    });
})(jQuery);
</script>
{% endblock js %}

{% block body %}
<div class="container">
    <div class="header">
        <div class="row-fluid">
            <div class="span5">
                <h1><a href="{{ path('msi_page_home') }}"><img style="width: 50px;vertical-align: -0px;" src="http://static.wix.com/media/84770f_c847c841ffcfb44f02155b5eb1c882a1.png_srz_81_92_75_22_0.50_1.20_0.00_png_srz" alt="0"> Animadou <img style="width: 50px;vertical-align: -0px;" src="http://static.wix.com/media/84770f_3dc6a3d94e0f129fe720bedf5f628c2f.png_srz_112_78_75_22_0.50_1.20_0.00_png_srz" alt="cat"></a></h1>
            </div>
            <div class="span7">
                <ul class="pull-right unstyled">
                    <li><a href="{{ path('msi_page_home', {'_locale': app.request.locale == 'fr' ? 'en' : 'fr'}) }}">{{ app.request.locale == 'fr' ? 'English' : 'Français' }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sf-menu-wrap">
        {{ knp_menu_render('AniCoreBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'current'}) }}
        <div class="clearfix"></div>
    </div>

    {# SLIDER #}
    {% if page.slides.count %}
    <div style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);">
        <div class="row">
            <div class="span5">
                <div class="slider-text">
                    <h2>{{ page.translation.sliderTitle }}</h2>
                    <p>{{ page.translation.sliderText }}</p>
                    <p>&bull; &bull; &bull;</p>
                </div>
            </div>
            <div class="span7" style="margin-left: 0;width: 560px;">
                <div id=slider>
                    <ul class="unstyled slider">
                        {% for slide in page.slides %}
                            <li><img class="hide" onload="nl(this);" src="{{ slide.pathname }}" alt="0"></li>
                        {% endfor %}
                    </ul>
                    <div class="carousel-wrap">
                        <ul class="unstyled carousel">
                            {% for slide in page.slides %}
                                <li><img class="hide" onload="nl(this);" src="{{ slide.pathname('t') }}" alt="0"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="content">
        {# CONTENT #}
        {% if page.showTitle %}<h2>{{ block('title') }}</h2>{% endif %}
        {{ block('page_content') }}
        <div class="clearfix"></div>
    </div>

    <div class="footer">
        <div class="pull-right">
            <a href="#"><img style="vertical-align: middle;" src="/uploads/images/facebook.png" alt="facebook"></a>
        </div>
        <div class="pull-left" style="margin-top: 6px;">
            &copy; {{ 'now'|date('Y') }} Animadou. All rights reserved.
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock body %}
