{% extends 'AniCoreBundle::layout.html.twig' %}

{% block content %}
{% for i, e in album.photos %}
{% if loop.index == 0 or loop.index%4 == 1 %}<div class="row" style="margin-bottom: 20px;">{% endif %}
    <div class="span3" style="width: 200px;margin-left: 28px;">
        <div class="img-polaroid">
            <a class="fancybox" rel="gallery1" href="{{ e.pathname }}">
                <img onload="nl(this);" class="hide" src="{{ e.pathname('t') }}" alt="0">
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
{% if loop.index == album.photos|length or loop.index%4 == 0 %}</div>{% endif %}
{% endfor %}
{% endblock content %}

{% block js %}
{{ parent() }}
<script src="{{ asset('bundles/anicore/vendor/fancybox/source/jquery.fancybox.js') }}"></script>
<script>
$(document).ready(function() {
    $('.fancybox').fancybox({
        speedIn: 200,
        speedOut: 200,
        fitToView: false,
        helpers: {
            overlay: {
                fixed: false
            }
        }
    });
});
</script>
{% endblock js %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/anicore/vendor/fancybox/source/jquery.fancybox.css') }}">
{% endblock css %}
