{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/animadouapp/css/style.css') }}">

<script>
function nl(t){t.className=t.className.replace(new RegExp(/\shide|hide\s|hide/),'');}
</script>
{% endblock css %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
{% endblock js %}

{% block body %}
<div id="wrap">
    <div class="header">
        <div class="container">
            <div class="pull-right">
                <a class="btn" href="{{ path('msi_page_home', {'_locale': app.request.locale == 'en' ? 'fr' : 'en'}) }}">{{ app.request.locale == 'en' ? 'Français' : 'English' }}</a>
            </div>
            <h1 id="logo"><a href="{{ path('msi_page_home') }}"><img src="http://mootools.net/assets/images/mootools.png" alt="0"></a></h1>
            <img src="http://mootools.net/assets/images/subtitle.png" alt="0">
        </div>
    </div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                {{ knp_menu_render('AnimadouAppBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}
                <a class="btn btn-primary pull-right" href="#">{{ 'appointment'|trans }}</a>
            </div>
        </div>
    </div>
    {% if page.showTitle == true %}
    <div class="page-title">
        <div class="container">
            <h2>{{ block('title') }}</h2>
        </div>
    </div>
    {% endif %}
    <div class="container">
        {% block page_container %}
            {{ msi_block_render('content_top', page) }}
            {{ block('page_content') }}
            {{ msi_block_render('content_bottom', page) }}
        {% endblock page_container %}
        {#<div style="margin: 20px 0;">
            <img src="http://placehold.it/940x340" alt="">
        </div>#}
        {#<div style="background: #535353; color: #fff; padding: 15px; margin-bottom:20px;">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>#}
    </div>
    <div id="push"></div>
</div>
<div class="footer">
    <div class="container">
        <div class="copyright muted">
            <ul class="pull-right">
                <li class="active"><a href="#">Accueil</a></li>
                <li><a href="#">L'équipe</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Témoignages</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <small>&copy; {{ 'now'|date('Y') }} {{ site.translation.brand }}. {{ 'copyright'|trans }}.</small>
        </div>
    </div>
</div>
{% endblock body %}
